h1,
p {
  font-family: Lato;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hide {
  display: none !important;
}
.container {
  width: 100vw;
  position: relative;
}
.navbar {
  background: indigo;
  padding: 10px;
  color: white;
}

.totalProduct {
  margin: 0px 5px;
  background-color: black;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
}

.totalProductPrice {
  margin: 0px 5px;
  text-decoration: underline;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 10px 10px;
}

